services:
  api:
    build: .
    container_name: vagafacil_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
      - .:/app
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
